<!DOCTYPE html>
<html>
<head>
    <partial name="_DefaultHead" />

</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark ">

        <div class="container px-4">
            @*https://getbootstrap.com/docs/4.0/components/navbar/#containers*@


            <a asp-controller="Home" asp-action="Index" class="navbar-brand font-weight-bold">Solores Software</a>

            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="SignOut">Sign Out</a>
                        </li>
                    </ul>
                }
                else
                {
                    <environment include="Development">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>
                        </ul>
                    </environment>
                }
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-12">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            @RenderSection("Footer", required: false)

            <div class="text-center">
                <p>&copy; @DateTime.Now.Year - Solores Software</p>
            </div>
        </footer>
    </div>

    <partial name="_DefaultScripts" />

    @RenderSection("Scripts", required: false)

    @Html.RenderPartialViewScripts();

</body>
</html>
